/*
* * * * * * * * * * *
REGLES CSS GENERALES
* * * * * * * * * * * */

/*
= = = = = =
GENERALITES
= = = = = =  */


/* MARGES */
.input-mrg-btm { margin-bottom: 15px; }
.btn-mrg-top { margin-top: 15px; }
.no-mrg-btm { margin-bottom: 0 !important; }
.mrg-auto { display: block; margin: auto; }
.no-pdg { padding: 0; }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* FORMULAIRES */
input, textarea, button, .btn { border-radius: 0 !important; }
button:hover { cursor: pointer; }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* INCLASSABLES */
* { box-sizing: border-box; margin: 0; }
.no-display { display: none; }
.left { float: left; }
.pointer:hover {cursor:pointer;}
.medium { font-weight: bold; }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* HEADER DES PAGES */
.header { background-color:#D9EDF7; color: #292B2C; border-radius: 0px; border-bottom: 2px solid #c4c4c4; }


/* INDICATEUR DE MODIFICATION D'ELEMENTS */
.modifying-elem { clear: both; color: white; background-color: #4D90FD; text-align:center;
 				  padding-top: 5px; padding-bottom:  7px; margin-bottom: 15px; margin-top: -17px; }


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */



/*
= = = = = = = = = = =
LISTE DES TODO-LISTS
= = = = = = = = = = =  */


/* TABLEAU DE LA LISTE DES TODO-LISTS */
table tbody tr td .fa { display: inline-block; color: #a0a0a0; width: 100%; }
table tbody tr td .fa:hover { color: black; }
.table-inverse { background-color: #4D90FD !important;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* LORSQU'IL N'Y A RIEN A AFFICHER */
.todolists-nts { display: block; width: 75%; margin:auto; margin-top: 30px; text-align: center; font-size: 2em; }
.todolists-nts .small { font-size: 0.6em; }
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */



/*
= = = = = = = = = = = =
ELEMENTS DE TODO-LISTS
= = = = = = = = = = = = */
ul { margin: 0; padding: 0; list-style-type: none; }

ul li { cursor: pointer; position: relative; padding: 12px 8px 4px 40px; background: #eee; font-size: 23px;
		transition: 0.2s; webkit-user-select: none; moz-user-select: none; -ms-user-select: none;
		suser-select: none; transition: background 0.2s linear; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear;
}

ul li:nth-child(odd) { background: #f9f9f9; }

ul li:hover { background: #ddd; }

ul li.checked { background: #DFF0D8; color: #3F8547; text-decoration: line-through; }

ul li.checked::before { content: ''; position: absolute; border-color: #3F8547; border-style: solid; border-width: 0 2px 2px 0;
						top: 15px; left: 16px; transform: rotate(45deg); height: 15px; width: 7px; }

ul li[class*="success"] { transition: background 1s linear; -webkit-transition: background 1s linear;
						  -moz-transition: background 1s linear; background-color: #0B9444; color: white; }

ul li[class*="success"] .todoelem-modify, ul li[class*="success"] .close { color: #e1e1e1 !important; }

.close { position: absolute; right: 0; top: 0; color: #C9D2C6; padding: 12px 16px 16px 16px; opacity: 1; z-index: 1;}

.close:hover { background-color: black; color: white; }

.todoelem-modify { position: absolute; right: 60px; top: 0; color: #C9D2C6; padding: 12px 16px 16px 16px; opacity: 1; z-index: 1;}

.todoelem-modify:hover { background-color: #373737; color: white; }
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
